header{
    padding: 10px;
}

header h1{
    font-size: 36px;
}

.display{
    width: 100%;
    min-height: 200px;
}

p.display{
    min-height: 50px;
    padding: 10px 0;
}

form.display{
    color: 1px solid grey;
}

/*input[type='submit']{
    float: right;
}*/

textarea{
    padding: 5px;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip2 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}